:root {
    --padding: 15px;
    --borderradius: 12px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, img{
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba(0,0,0,0.1)

}

.header .header__subtitle {
    color: rgba(0,0,0,0.6)
}

.grid {
    margin: 0 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 10px;
}

.grid-header {
    grid-column: span 2;

    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;

    height: 130px;
    /* background-color: red; */
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://i.pinimg.com/564x/ad/c1/48/adc1485ff7bc23f35bc3bba0afed081a.jpg);
    background-size: cover;
    background-position: bottom right;
    border-radius: var(--borderradius);
    
    color: white;

    display: grid;
    
}

.grid-header__title{
    text-align: right;
}

.grid-header__subtitle {
    align-self: end;
}

.grid-header__subtitle span{
    margin-left: 60px;
}

.section__column .article{
    margin-bottom: 15px;
}

.article img {
    border-radius: var(--borderradius);
    max-width: 100%;
}

.section__column .article__paragraph {
    font-size: 12px;
    color: rgba(0,0,0,0.5)
}